// Bulma Import
@import '~bulma';
@import '~bulma-extensions';

.modal {
    display: block;
    z-index: 1000;
    .modal-card {
        margin: 20px;
        width: inherit;
    }
}

.marker-cluster-small {
    background-color: rgba(0, 65, 90, 0.2);
    color: white;
    div {
        background-color: rgba(0, 65, 90, 0.2);
    }
}

.marker-cluster-medium {
    background-color: rgba(0, 65, 90, 0.6);
    color: white;
    div {
        background-color: rgba(0, 65, 90, 0.6);
    }
}

.marker-cluster-large {
    background-color: rgba(0, 65, 90, 1);
    color: white;
    div {
        background-color: rgba(0, 65, 90, 1);
    }
}